---
import { Icon } from "astro-icon";

const { icon, title, redirect } = Astro.props;
---

<a class="btn" href={redirect} target="_blank">
  <Icon name={icon} />
  <span class="title">{title}</span>
</a>

<style lang="scss">
  @import "./button.module.scss";
</style>
