<section class="section">
  <h1 class="shadow">Shivansh Gupta</h1>
  <h2 class="subtitle">Student | Part time Dev</h2>
</section>

<style lang="scss">
  @import "./titleSection.module.scss";
</style>
