---
import Section from "./../../section.astro";
---

<Section >
  <h2 class="subtitle">
    <slot/>
  </h2>
</Section>


<style lang="scss"> 
  @import "./singleLineQuoteSection.module.scss";
</style>
