---
import HomeLayout from "../Layouts/DefaultLayout.astro";
import TitleSection from "../components/TitleSection/titleSection.astro";
---

<HomeLayout>
  <div class="section-wrapper">
    <TitleSection />
  </div>
</HomeLayout>
