---
import HomeLayout from "./../Layouts/DefaultLayout.astro";

import SingleLineQuoteSection from "./../components/Sections/SingleLineQuoteSection/singleLineQuoteSection.astro";
import TitleSection from "./../components/Sections/TitleSection/titleSection.astro";
---

<HomeLayout>
  <div class="section-wrapper">
    <TitleSection />
    <SingleLineQuoteSection>
      If you fail, never give up because FAIL means "First Attempt In Learning".
      -APJ Abdul Kalam
    </SingleLineQuoteSection>
  </div>
</HomeLayout>
