---
import HomeLayout from "../Layouts/DefaultLayout.astro";
import TitleSection from "../components/TitleSection/titleSection.astro";
import SingleLineQuoteSection from "../components/SingleLineQuoteSection/singleLineQuoteSection.astro";
---

<HomeLayout>
  <div class="section-wrapper">
    <TitleSection />
    <SingleLineQuoteSection>
      If you fail, never give up because FAIL means "First Attempt In Learning".
      -APJ Abdul Kalam
    </SingleLineQuoteSection>
  </div>
</HomeLayout>
