---
import HomeLayout from "../Layouts/SimpleLayout.astro";

import Button from "../components/Button/button.astro";
---

<HomeLayout>
  <section>
    <div class="container">
      <Button
        title="Instagram"
        icon="mdi:instagram"
        redirect="https://www.instagram.com/gshiv.g/"
      />
      <Button
        title="LinkedIn"
        icon="mdi:linkedin"
        redirect="https://www.linkedin.com/in/gshivg/"
      />
      <Button
        title="Github"
        icon="mdi:github"
        redirect="https://github.com/gshivg"
      />
      <!-- <Button title="LinkedIn" icon="mdi:linkedin" /> -->
    </div>
  </section>
</HomeLayout>

<style lang="scss">
  @import "../scss/links.module.scss";
</style>
