---

---
<div class="overlay">
  <div class="nav">
    <ul>
      <li><a href="#myself">Myself</a></li>
      <li><a href="#projects">My Projects</a></li>
      <li><a href="#contact">Contact Me</a></li>
    </ul>
  </div>
  <div class="center">
    <div class="left">
      <div>
        <p class="name"><a href="#">GSHIVG</a></p>
      </div>
    </div>
    <div class="right">
      <div class="right-overlay" id="progress"></div>
      <div>
        <p class="name"><a href="#">GSHIVG</a></p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "./overlay.module.scss";
</style>

<script src="./overlay.module.ts"></script>