@font-face {
  font-family: Comfortaa;
  font-weight: 200;
  src: local("/fonts/Comfortaa.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

html {
  background: #1e1a20;
  scroll-behavior: smooth;
  /* overscroll-behavior: contain; */
  overflow-x: hidden;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

[astro-icon] {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}