section {
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
  text-align: justify;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #ffffffa4;
  scroll-snap-type: both proximity;

  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;

  .shadow {
    text-shadow:
      0 0 2px #000,
      0 0 3px #000;
  }

  .subtitle {
    font-size: 3vmin;
    text-transform: none;
    font-family: "Comfortaa";
    color: whitesmoke;
  }

  .description {
    font-size: 3vmin;
    color: #ffffffa4;
    text-transform: uppercase;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
  }
}
