---
const { title } = Astro.props;

// Import global styles
import "../scss/global.module.scss";

// Import components
import MetaData from "./../components/MetaData.astro";
import HomeThree from "../components/HomeThree/homeThree.astro";
import Overlay from "../components/Overlay/overlay.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <MetaData title />
  </head>

  <body>
    <HomeThree />
    <Overlay />
    <slot />
    <script src="./../ts/DefaultLayout.module.ts"></script>
  </body>
</html>
